.chatWindow {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.chatWindow--header{
    height: 60px;
    border-bottom: 1px solid 2A2F32;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2A2F32;  
}

.chatWindow--headerinfo{
    display: flex;
    align-items: center;
    cursor: pointer;
}

.chatWindow--avatar{
    width: 40px;
    width: 40px;
    border-radius: 50%;
    margin-left: 15px;
    margin-right: 15px;
}

.chatWindow--name{
    font-size: 17px;
    color: #c9c9c9;
    font-weight: bold;
    
}

.chatWindow--headerbuttons{
    display: flex;
    align-items: center;
    margin-right: 15px;
}

.chatWindow--btn{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    cursor: pointer;
    align-items: center;
}

.chatWindow--body{
    flex: 1;
    overflow-y: auto;
    background-color: #1e2428;
    background-size: cover;
    background-position: center;
    background: url('../../../src/assets/fundo.png');
}

.chatWindow--footer{
    display: flex;
    align-items: center ;
    height: 62px;
    justify-content: space-between;
    background-color: #1e2428;
}

.chatWindow--pre{
    display: flex;
    margin: 0 15px;
}

.chatWindow--inputarea{
    flex: 1;
}

.chatWindow--input{
    width: 100%;
    height: 40px;
    border: 0;
    outline: 0;
    background-color: #33383b;
    border-radius: 20px;
    font-size: 15px;
    color: darkgray;
    padding-left: 15px;
}

.chatWindow--pos{
    display: flex;
    margin: 0 15px;
}